.conteiner{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
    font-size: 1.5em;
    background-color: antiquewhite;
}

th{
    border: 1px solid darkgrey;
    padding: 10px;
    background-color: brown;
}
td{
    border: 1px solid darkgray;
    padding: 10px;
    background-color: gray;
}
h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: blueviolet;
}